.uiContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

body {
    font-family: 'Mouse Memoirs', sans-serif;
}

html, body, #full {
    height: 100%;
}

#full {
    display: flex;
    flex-direction: column;
}

.expand {
    flex-grow: 1;
}

.menu-element {
    font-size: 30px;
    background: whitesmoke;
    border: 4px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin: 30px;
}

.center {
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.topbar-menu-item {
    font-size: 50px;
}

.slider {
    -webkit-appearance: none;
    outline: none;
    background: black;
    height: 6px;
    border-radius: 3px;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    outline: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    border-width: 0;
    outline: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

.button {
    cursor: pointer;

}

.arrow-button {
    border: solid black;
    border-width: 0 3px 3px 0;
    width: 10px;
    height: 10px;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}